.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# smoke test artifacts
smoke-tests/collector/data-results/data-ios-test.json
smoke-tests/collector/data.json
smoke-tests/report.xml
